@import "home";
@import "show";

 body.performers.index {
  .wrapper {
      padding-top: 30px;
  };
}

body.performers.index {
  #search-results {
      margin-bottom: 50px;
  };
}
label {
  font-weight: 400;
}
