.edit-icon{
  font-size: 30px;
  color: rgb(150,150,150);
  transition: color 0.5s;
  margin: 0 10px;
}
.edit-icon:hover{
  color: rgb(190,190,190);
}
.edit-banner, #about, #details-div, #prices, #icons{
  position: relative;

  .edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, color 0.4s;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.edit-banner:hover{
  .edit-icon{
    visibility: visible;
    opacity: 1;
    color: white;
    transition: color 0.4s;
  }
  .edit-icon:hover{
    color: rgb(190,190,190);
  }
}
#about:hover, #details-div:hover, #prices:hover, #icons:hover{
  .edit-icon{
    visibility: visible;
    opacity: 1;
  }
}
.editable-text {
  display: flex;
  align-items: center;
  .edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, color 0.4s;
  }
}
.editable-text:hover {
  .edit-icon{
    visibility: visible;
    opacity: 1;
  }
}
#label-and-icon{
  display: flex;
  align-items:center;
  justify-content: space-around;
  flex-direction: column;
}
.hidden{
  visibility: hidden;
}
