body.performers.index {
  .wrapper {
      padding-top: 30px;
  };
}

body.performers.index {
  #search-results {
    margin-bottom: 30px;
  };
}

body.performers.index label {
  font-weight: 400;
}

#map_container {
  margin-top: 40px;
}
