.show-banner {
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center 25%;
}
.profile-image {
  margin-top: 15px;
  padding: 10px 0;
}
.editable-text > img {
  margin: 0 10px;
}
.avatar-large {
  width: 65px;
  height: 65px;
}
.big-icon {
  color: #56626C;
  font-size: 25px;
  padding: 8px 0;
}
.btn-custom-red {
  background-color: #FF7E82;
  color: white;
  transition: background-color 1.5s, color 1s;
}
.btn-custom-red:hover {
  background-color: white;
}
.summary-box {
  display: flex;
  justify-content: flex-start;
}
#reviews-header {
  margin-top: 0;
}
#booking-table {
  border: 2px rgba(255, 163, 163, 1);
  margin: 20px 0 10px 0;
}
#show-profile-picture {
  margin: 0 30px 0 10px;
}
