.show-banner {
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center 25%;
}
.profile-image{
  margin-top: 15px;
  padding: 10px 0;
}
.editable-text > img {
  margin: 0 10px;
}
.avatar-large {
  width: 65px;
  height: 65px;
}
.big-icon {
  color: #56626C;
  font-size: 30px;
  padding: 10px 0;
}
.btn-custom-red {
  background-color: #FF7E82;
}
.btn-custom-red:hover {
  background-color: white;
}
