.dashboard {
  background-color: white;
  padding-bottom: 50px;
}

.headtitle-profile {
  background-color: #333333;
  color: white;
  padding: 5px;
  border: 1px solid #333333;
}

.profile-link {
  padding-top: 20px;
}

.profile-bookings {
  margin-top: 20px;
}

.messages {
  margin-top: 20px;
  border: 1px  solid #333333;
}

.messages-details {
  padding: 5px;
}

.bookings {
  border: 1px  solid #333333;
}

.bookings-details {
  padding: 5px;
}

.last-booking {
  padding: 5px;
}


