<div class="container dashboard">
  <h1>Welcome <%= current_user.first_name %></h1>
    <div class="row">
      <div class="profile-update text-center col-md-3">
      <br>
        <img src="<%= current_user.profile_picture %>" class="avatar-square">
        <div class="profile-link">
          <p><%= link_to 'Edit profile', edit_user_path(current_user) %></p>
        </div>
      </div>

      <div class="col-md-9">
        <div class="messages">
          <div class="row">
            <div class="col-md-12">
              <div class="headtitle-profile">Your messages (0 new)</div>
                <div class="tables-row">
                  <div class="row">
                    <div class="col-md-1">
                        <img src="http://placehold.it/100x100" class="avatar">
                    </div>
                    <div class="col-md-3">
                      <p> Bob D </p>
                      <p> 15/11/16 </p>
                    </div>
                    <div class="col-md-8">
                      <p> Thank you for your email. I am a pop singer and would be happy to perform at your birthday party on the 26th of Nov. </p>
                    </div>
                  </div>
                </div>
                <div class="tables-row">
                  <div class="row">
                    <div class="col-md-1">
                      <img src="http://placehold.it/100x100" class="avatar">
                    </div>
                  <div class="col-md-3">
                    <p> John </p>
                    <p> 11/11/16 </p>
                  </div>
                  <div class="col-md-8">
                    <p> Thank you for your message </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <br>

        <div class="bookings">
          <div class="row">
            <div class="col-md-12">
              <div class="headtitle-profile">Your next booking</div>
                <div class="tables-row">
                  <div class="row">
                    <div class="col-md-1">
                        <img src="http://placehold.it/100x100" class="avatar">
                    </div>
                    <div class="col-md-2">
                      <p> 26/11/16 </p>
                    </div>
                    <div class="col-md-2">
                      <p>19:00</p>
                      <p>21:00</p>
                    </div>
                    <div class="col-md-3">
                        <p>Bob L.</p>
                      </div>
                    <div class="col-md-4">
                        <p>Pop singer</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="previous-bookings"><%= link_to 'Past bookings'%></div>

      </div>
    </div>
</div>


