<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">What's on</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150');">
            <div class="card-title"><h3>London</h3></div>
              <div class="card-description">
                <h3>Beyoncé</h3>
                <p>Category</p>
              </div>
              <img src="http://placehold.it/100x100" class="card-avatar">
          </div>
         </div>
        <div class="col-xs-12 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150');">
            <div class="card-title"><h3>Manchester</h3></div>
              <div class="card-description">
                <h3>Magician</h3>
                <p>Category</p>
              </div>
            <img src="http://placehold.it/100x100" class="card-avatar">
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150');">
            <div class="card-title"><h3>Oxford</h3></div>
              <div class="card-description">
                <h3>U2</h3>
                <p>Category</p>
              </div>
            <img src="http://placehold.it/100x100" class="card-avatar">
          </div>
      </div>
     </div>
    </div>
  </div>
