

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'background_image.jpeg' %>)">

  <div class="banner-content text-center">
      <div class="container">
        <h1>Hire a performer</h1>
          <p>Make your event a unique experience!</p>
        <div class="row">
          <div class="col-xs-12">
             <form action="/performers" method="/get">
                <div class="form-search form-inline">
                  <select class="form-control" name="event">
                  <option>Wedding</option>
                  <option>Corporate event</option>
                  <option>Private party</option>
                  <option>Charity event</option>
                  </select>
                  <select class="form-control" name="category">
                  <option>Rock</option>
                  <option>Pop</option>
                  <option>DJs</option>
                  <option>Entertainers</option>
                  </select>
                  <input type="date" placeholder="date" class="form-control" name="date">
                  <input type="time" placeholder="hh : mm" class="form-control" name="time_in">
                  <input type="time" placeholder="hh : mm" class="form-control" name="time_out">
                  <input type="text" placeholder="City" class="form-control" name="city">
                  <input type="submit" value="Search" class="navbar-wagon-item navbar-wagon-button btn">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">What's on</h2>
      <div class="row">
        <div class="listing-cards col-xs-12 col-md-4">
          <%= render 'shared/cards' %>
        </div>
        <div class="listing-cards col-xs-12 col-md-4">
          <%= render 'shared/cards' %>
        </div>
        <div class="listing-cards col-xs-12 col-md-4">
          <%= render 'shared/cards' %>
        </div>
     </div>
    </div>
  </div>

        <!-- Your newsletter code -->
  <div class="container text-center padded">
  <h2>Contact us</h2>
    <p>Just send us an email if you want more info</p>
    <form action="#" class="form-inline">
      <div class="form-group">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
      </div>
      <input type="submit" value="Send" class="navbar-wagon-item navbar-wagon-button btn">
    </form>
  </div>


