<div class="container dashboard">
  <h1>Welcome to your dashboard <%= current_performer.first_name %></h1>
    <div class="row">
      <div class="profile-update text-center col-md-3">
      <br>
        <img src="<%= current_performer.profile_picture %>" class="avatar-square">
        <div class="profile-link">
          <p><%= link_to "Edit your profile", edit_performer_path(current_performer) %></p>
        </div>
      </div>

      <div class="col-md-9">
        <div class="messages">
          <div class="row">
            <div class="col-md-12">
              <div class="headtitle-profile">Your messages (0 new)</div>
                <div class="tables-row">
                  <div class="row">
                    <div class="col-md-1">
                        <img src="http://placehold.it/100x100" class="avatar">
                    </div>
                    <div class="col-md-2">
                      <p> Bob L </p>
                      <p> 14/11/16 </p>
                    </div>
                    <div class="col-md-9">
                      <p> Hi, I am organsing a big party and I am looking to hire a performer. Could you give me a call to give me more details about what you do. Thx </p>
                    </div>
                  </div>
                </div>
                <div class="tables-row">
                  <div class="row">
                    <div class="col-md-1">
                      <img src="http://placehold.it/100x100" class="avatar">
                    </div>
                  <div class="col-md-2">
                    <p> John Doe </p>
                    <p> 11/11/16 </p>
                  </div>
                  <div class="col-md-9">
                    <p> Hello, could you send me more info about what you do please? Many thanks </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <br>

        <div class="bookings">
          <div class="row">
            <div class="col-md-12">
              <div class="headtitle-profile">Your next performances</div>
                <div class="tables-row">
                  <div class="row">
                    <div class="col-md-1">
                      <img src="http://placehold.it/100x100" class="avatar">
                    </div>
                    <div class="col-md-2 text-left">
                      <p> 26/11/16 </p>
                    </div>
                    <div class="col-md-1 text-left">
                      <p>20:00</p>
                      <p>23:00</p>
                    </div>
                    <div class="col-md-2">
                      <p>London</p>
                      <p>EC2V 7AE</p>
                    </div>
                    <div class="col-md-2">
                      <p>John Smith</p>
                    </div>
                    <div class="col-md-4">
                      <p>30th birthday party with 50 people</p>
                    </div>
                  </div>
                </div>
                   <div class="tables-row">
                  <div class="row">
                    <div class="col-md-1">
                      <img src="http://placehold.it/100x100" class="avatar">
                    </div>
                     <div class="col-md-2 text-left">
                      <p> 02/12/16 </p>
                    </div>
                    <div class="col-md-1 text-left">
                      <p>19:00</p>
                      <p>21:00</p>
                    </div>
                    <div class="col-md-2">
                      <p>London</p>
                      <p>E1 6BT</p>
                    </div>
                    <div class="col-md-2">
                      <p>Le Wagon</p>
                    </div>
                    <div class="col-md-4">
                      <p>Private party</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="previous-bookings"><%= link_to 'Past performances'%></div>

      </div>
  </div>
</div>


