
<div class="wrapper">
  <div class="container text-center">
    <div class="filters">
      <div class="row">
        <div class="col-xs-6 col-sm-3">Dates</div>
        <div class="col-xs-6 col-sm-3"><%= %></div>
        <div class="col-xs-6 col-sm-3">Category</div>
        <div class="col-xs-6 col-sm-3"><%= %></div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container text-center">
    <div class="filter-price">
      <div class="row">
        <div class="col-md-12 text-center filter-price-label"></div>
        <div class="col-md-12 datareactid="#"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @performers.each do |performer| %>
      <div class="listing-cards col-xs-12 col-md-4">
        <%= render "shared/cards", performer: performer %>
      </div>
    <% end %>
  </div>
</div>
