<div class="banner">

</div>

<div class="container">

  <div id="summary">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="summary-component">
          <h2><%= 'Perfomer Name' %></h2>
          <h5><%= 'Perfomer City' %></h5>
        </div>
      </div>
      <div class="col-md-3 text-center hide-sm">
        <div class="profile-image">
          <img src="" alt="profile-picture" class="avatar-large">
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12">
        <hr>
        <div class="col-sm-3"><img src="" alt="icon"></div>
        <div class="col-sm-3"><img src="" alt="icon"></div>
        <div class="col-sm-3"><img src="" alt="icon"></div>
        <div class="col-sm-3"><img src="" alt="icon"></div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12">
        <div class="col-sm-3">Type</div>
        <div class="col-sm-3">Category</div>
        <div class="col-sm-3">Rate(£ or ££ etc)</div>
        <div class="col-sm-3">Rating(Well rated?)</div>
      </div>
    </div>
  </div>

  <hr>

  <div id="details">
    <div class="row">
      <div class="col-sm-12">
        <h4>About this performer</h4>
        <p>This performer is blah blah blah. They have been playing the banjo for 25 years. Incredible modern banjo sound.</p>
        <a href="">Contact performer</a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3">
        <h4>Details</h4>
      </div>
      <div class="col-sm-9">
        <p>Members: <strong>2</strong></p>
        <p>Category: <strong>Magician</strong></p>
        <p>Good for: <strong>Birthdays, Children's Parties</strong></p>
        <p>Special Requirements: <strong>None</strong></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3">
        <h4>Prices</h4>
      </div>
      <div class="col-sm-9">
        <p>Rate: <strong>2</strong></p>
        <p>Weekday Discount: <strong>25%</strong></p>
        <p>Cancellation: <strong>Flexible</strong></p>
      </div>
    </div>
  </div>

  <hr>

  <div id="reviews">
    <div class="row">
      <div class="col-sm-12">
        <h4>8 Reviews <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></h4>
        <br>
        Insert review table
        <hr>
        <button class="btn btn-secondary">Contact performer</button>
      </div>
    </div>
  </div>

</div>
