<h4>Welcome <%= @performer.first_name %>!</h4>

<p>Thanks for signing up to Showcase as a performer :)</p>

<p>You can confirm your showcase account by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
